*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "sora" sans-serif;
  background: #fff;
  color: #000;
  font-size: 17px;
  line-height: 1.5;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "sora" sans-serif;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: inherit;
}

#top-header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
  background: var(--primary);
  border: 2px solid var(--color-five);
  align-items: center;
  text-transform: uppercase;
}

#top-header,
#div-a,
#bts {
  text-decoration: none;
  color: var(--color-two);
}
#top-header #bts:hover {
  transform: translatey(-5px);
}
#top-header #bts i {
  background: var(--primary);
  padding: 5px;
  border-radius: 50%;
  color: var(--color-two);
  font-size: 17px;
}
#top-header #bts i:hover {
  background: var(--primary-one);
}
.top-social {
  font-size: 23px;
}
.top-social i {
  color: var(--color-two);
}
.top-social i:hover {
  color: var(--primary-one);
}
.top-social a:hover {
  transform: translatey(-5px);
}
#mobile-toggle i {
  font-size: 2rem;
  color: var(--primary);
}
#mobile-toggle i:hover {
  color: var(--color);
}
#mainnav {
  border-bottom: 2px solid var(-- --color-five) !important;
  background: var(--color-two);
  border: 2px solid var(--color-five);
  margin: 0px;
  background-size: cover;
}
#mainnav #Logo .navbar-brand {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
  color: var(--primary);
  word-spacing: 5px;
}
#mainnav #Logo .navbar-brand span {
  padding-left: 5px;
  color: var(--primary-one);
}

#mainnav #nav #nav-ul .nav-item .nav-a {
  color: var(--primary) !important;
  text-align: center;
  font-weight: 700;
  border-radius: 5px;
}
#mainnav #nav #nav-ul .nav-item .nav-a:focus {
  
  transition: 4s;
  color: var(--primary-one) !important;
  transform: translateY(-3px);
  border-radius: 10px;
  
 
}


#mainnav #nav #nav-ul .nav-item  .active{
color: var(--primary-one) !important;
  padding-bottom: 4px;
  position: relative;



}
#mainnav #nav #nav-ul .nav-item  .active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  width: 100%;
  height: 3px;
  background: var(--primary-one);
}
#mainnav #nav #nav-ul .nav-item .btn {
  color: var(--primary);
  text-align: center;
  font-weight: 700;
}
#mainnav #nav #nav-ul .nav-item .btn:hover {
 
  transition: 4s;
 
  color: var(--primary-one);
  color: var(--primary) !important;
  border: 1px solid var(--primary-one);
}

.btn-close {
  font-size: 20px;
}
#navoffcanvas #navoffcanvas-header {
  background: var(--primary);
  color: var(--primary-one);
}
.offcanvas-body li {
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border-bottom: 2px solid var(--primary) !important;
}
section {
  padding: 50px 0;
}
/*section one*/
#hero-section{
    background:var(--bg-1);
    background-size: cover;
    background-position: center;
    width: 100%;
height: 280px;
position: relative;
}
.section-one h1{
    color: var(--color-two);
    font-size: 2rem;
    font-weight: 800;
    margin-top: 6%;
    text-align: center;
    word-spacing: 3px;
}
/*LOCATION*/
#contact {
  background: var(--color-two);
}
.contact-card {
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  width: 400px;
  margin-left: 15%;
}
.contact-card h4 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.7rem;
  font-weight: 800;
  color: var(--primary-one);
  margin-bottom: 13px;
}
.contact-card p{
    color: var(--primary);
    font-size: 0.9rem;
    padding-bottom: 2%;
    
}
.contact-item {
  display: flex;
  gap: 15px;
  align-items: center;
}

.contact-item i {
  width: 50px;
  height: 50px;
  background: var(--bg-1);
  color: var(--color-two);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.contact-item h6 {
  color: var(--primary);
  margin-bottom: 4px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 600;
}

.contact-item p {
  margin: 0;
  color: var(--color-nine);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}


.form-div h3{
    color: var(--primary);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
    font-weight: 800;
}
.form-div textarea{
  border-color: var(--primary-one);
  background: var(--text-hover);
}
.form-div input{
     border-color: var(--primary-one);
      background: var(--text-hover);
}
.form-div button{
    border: 2px solid var(--primary-one);
    border-radius:64px 64px 48px 10px;
    padding: 6px 35px;
    background: var(--bg-1);
    color: #fff;
    font-size: 1,3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
}